// Basic Button Style
$green: #2ecc71;
$red: #e74c3c;
$white: white;

.button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: black;
    outline: 0;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    box-shadow: 0 0 40px 40px $green inset;
  }
}
